
<head>
    <link href="https://fonts.googleapis.com/css?family=Allerta&display=swap" rel="stylesheet">
</head>


<div class="input-deco">
    <div class='icon-deco'>
        <i class="fa {{classeIcone}}" aria-hidden="true"></i>
    </div>
    <input
        class="input-deco-input"
        [type]="getTipoInput()" 
        [placeholder]="placeholder" 
        [class.input-invalido]="isInvalido()" 
        [formControl]="formControl" 
        (keyup)="writeValue($event.target.value)"
    />
</div>
<div class="div-msg-erro" *ngIf="isInvalido()">
    * {{ msgErro }}
</div>