<head>
    <link href="https://fonts.googleapis.com/css?family=Allerta&display=swap" rel="stylesheet">
</head>


<div class="input-group mb-3" style="height: 50px;">
    <div class="input-group-prepend">
        <span class="input-group-text bg-primary">
            <i class="fa {{classeIcone}}" aria-hidden="true"></i>
        </span>
    </div>
    <input style="height: 50px;" class="form-control" [type]="tipo" [placeholder]="placeholder"
        [class.input-invalido]="isInvalido()" [formControl]="formControl" (keyup)="writeValue($event.target.value)" />
</div>
<div class="div-msg-erro" *ngIf="isInvalido()">
    * {{ msgErro }}
</div>