*{font-family: 'Allerta', sans-serif;}
i {
  background-color: transparent;
  color: white;
  font-size: 150%;
  width: 100%;
  text-align: center;
}

.input-invalido {
  border-style: solid;
  border-width: 0.001cm;
  border-color: red !important;
}

.div-msg-erro {
  color: red;
  font-size: 0.3cm;
}

.input-sugestao{
  background-color: #fff;
  width:35%;
  margin-top: -1%;
  margin-left: 0%;
  z-index: 2;
  margin-bottom: 2%;
  position: absolute;
}

.corpo-input{
  z-index: 2;
}

li{
  height: 5%;
}


