<head>
  <link href="https://fonts.googleapis.com/css?family=Allerta&display=swap" rel="stylesheet">
</head>

<div class="input-deco">
  <div class='icon-deco'>
    <i class="fa {{ iconeFa }}" aria-hidden="true"></i>
  </div>

  <input
    class="input-deco-input" 
    iconeFa="fa-search" 
    [formControl]="formControl" 
    [placeholder]="placeholder"
    [class.input-invalido]="isInvalido()" 
    [type]="type" 
    (keyup)="writeValue($event.target.value)" 
  />

</div>
<ng-container *ngIf="liberarCampoSugestao()">
  <div class="input-sugestao">
    <ul class="list-group list-group-flush">
      <li class="list-group-item" *ngFor="let sugestao of listaSugestoes">
          {{ sugestao.nome }}
      </li>
    </ul>
  </div>
</ng-container>