body {
    background-color: #E6E6E6;
    padding: 5% 0% 5% 0%;
  }

.log {
    background-color:white;
    border-radius: 12px;
    box-shadow: 5px 5px 5px rgba(49, 48, 48, 0.452);
    padding-bottom: 2%;
    display: block;
    align-self: center;
    margin: 0% 35%;
  }
  
  .log-deco{
    background-color: #2D3646;
    border-radius: 12px 12px 0px 0px;
    padding: 1%;
  }
  
  .log-header{
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    text-align: center;
    font-weight: 500;
    font-size: 100%;
  }
  
  .form-deco{
    padding: 5% 15% 5%15%;
  }
  
  .input-deco {
    display: flex;
    margin-top: 3%;
    padding: 0%;
    border-radius: 0px;
    background-color: #ebebeb;
  }
  
  .input-deco:hover{
    background-color: #949494;
  }
  
  i {
    background-color : transparent;
    color: white;
    font-size: 150%;
    width: 100%;
    text-align: center;
  }
  
  .icon-deco{
    padding: 2% 0%;
    width: 15%;
    background-color: #5095F6;
  }
  
  .text-deco{
    flex-grow: 1;
    background-color: transparent;
    border: none;
    color: #0844a4;
    font-size: 100%;
    font-weight: 100;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .check-deco{
    margin-top: 3%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 70%;
    width: 100%;
  }
  
  button {
    padding: 3%;
    margin-top: 6%;
    border-radius: 20px;
    width: 100%;
    font-size: 80%;
    background-color: #0844a4;
    color: white;
    border: none;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  button:hover{
    background-color: #6334e3;
  }
  
  .request-deco{
    margin-top: 10%;
  }
  
  p {
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    color: #7a7a7a;
    font-size: 80%;
  }
  a {
    font-size: 60%;
    color: #0844a4;
    font-weight: bold;
  }  