<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://unpkg.com/ngx-bootstrap/datepicker/bs-datepicker.css">
</head>

<div class="navbar-menu bg-dark" *ngIf="mostrarMenu()" style="z-index: 2;">
    <ng-container *ngIf="mostrarMenuCoordenadorSecretaria()">
        <div>
            <i class="fa fa-plus-square" aria-hidden="true"></i>
            <a [routerLink]='["cadastro-docente"]'>Cadastrar Docente</a>
        </div>
    </ng-container>
    <ng-container *ngIf="mostrarMenuProfessor()">
        <div>
            <i class="fa fa-id-card" aria-hidden="true"></i>
            <a [routerLink]='["cadastro-protocolo"]'>Novo Protocolo</a>
        </div>
    </ng-container>
    <div>
        <i class="fa fa-search" aria-hidden="true"></i>
        <a [routerLink]='["consulta-protocolo"]'>Consultar Protocolos</a>
    </div>
    <div>
        <i class="fa fa-sign-out " aria-hidden="true"></i>
        <a [routerLink]='' (click)="deslogar()">Logout</a>
    </div>
</div>



<ng-container *ngIf="docenteServico.isLogado()">
    <footer class="page-footer font-small blue">
        <div class="footer-copyright text-center py-3" style="margin-left: 150px;">
            <span class="align-middle">Usuário: {{ docenteLogado?.nome }},</span>
            <span class="align-middle"> Perfil: {{ docenteLogado?.perfil }}</span>
        </div>
    </footer>
</ng-container>



<ng4-loading-spinner> </ng4-loading-spinner>
<router-outlet></router-outlet>