.navbar{
  position: fixed;
  width: 15%;
  height: 100%;
  background-color: #361c68;
  margin: 0%;
  padding:0%;
  box-shadow: 3px 3px 7px;
}

.navbar div{
  display: flex;
  padding:5%;
  border: 0px ;
  border-right: 5px;
  border-style: solid;
  border-color: #c0c0c0;
  height: 40px;
  align-items: center;
  margin-bottom: 3px;
  background-color: #361c68;
}

.navbar div i {
  width: 25%;
  font-size: 150%;
  text-align: left;
  color:#c0c0c0;
}

.navbar div a{
    flex-grow: 1;
    color:white;
    font-size: 100%;
    font-weight: 300;
    text-decoration: none;
}

.navbar div:hover{
  background-color: #303030;
}