.navbar-menu {
  position: fixed;
  width: 15%;
  height: 100%;
  margin: 0%;
  padding:0%;
  box-shadow: 3px 3px 7px;
}

.navbar-menu div{
  display: flex;
  padding:5%;
  border: 0px ;
  border-right: 5px;
  border-style: solid;
  border-color: #c0c0c0;
  height: 60px;
  align-items: center;
  margin-bottom: 3px;
}

.navbar-menu div i {
  width: 25%;
  font-size: 150%;
  text-align: left;
  color:#c0c0c0;
}

.navbar-menu div a{
    flex-grow: 1;
    color:white;
    font-size: 100%;
    font-weight: 300;
    text-decoration: none;
}

.navbar-menu div:hover{
  background-color: #303030;
}

footer span{
  padding: 0;
  color: black;
  //margin-bottom: 40px;
  font-size: 13px;
  text-align: center;
}

footer{
  height: 50px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #d3ded6;
  z-index: 1;
}

