button {
    padding: 3%;
    margin-top: 5%;
    border-radius: 4px;
    width: 100%;
    font-size: 80%;
    background-color: #3d8af7;
    color: white;
    border: none;
    font-weight: bold;
  }
  
  button:hover{
    background-color: #6334e3;
  }

  .botao-bloqueado {
    background-color: gray;
    color: black;
    cursor: not-allowed;
  }

  .botao-bloqueado:hover {
    background-color: #696969;
  }