<form class="external-prot-deco" [formGroup]="form">

    <div class="external-deco">
        <div class="external-deco-header">
            <h2>Resumo do Projeto :</h2>
        </div>
        <div class="internal-deco">
            <h3> Resumo</h3>
            <app-input-area-texto [formControl]="form.controls['resumoPt']" placeholder="Digite aqui ..."
                msgErro="Campo obrigatório">
            </app-input-area-texto>

            <h3> Resumo - Inglês </h3>
            <app-input-area-texto [formControl]="form.controls['resumoEn']" placeholder="Digite aqui ..."
                msgErro="Campo obrigatório">
            </app-input-area-texto>
        </div>
    </div>

    <div class="external-deco-r">
        <div class="external-deco-header">
            <h2>Informações do Projeto :</h2>
        </div>
        <div class="internal-deco">
            <div class="docente-deco">
                <div class="docente-header">
                    <h3>Docente :</h3>
                </div>
                <div class="docente-internal">
                    <label>Nome:</label>
                    <label>Nome do Docente</label><br>
                    <label>Codigo:</label>
                    <label>Codigo do Docente</label><br>
                </div>
            </div>

            <div>
                <h3>Justificativa do projeto :</h3>
                <app-input-area-texto [formControl]="form.controls['resumoEn']" placeholder="Digite aqui ..."
                    msgErro="Campo obrigatório">
                </app-input-area-texto>
            </div>

            <div>
                <h3>Data Inicio :</h3>
                <app-input-data [formControl]="form.controls['dataInicio']" classeIcone="fa-user"
                    placeholder="Data Início" msgErro="Campo obrigatório">
                </app-input-data>
                <h3>Data Fim :</h3>
                <app-input-data [formControl]="form.controls['dataFim']" classeIcone="fa-user" placeholder="Data Início"
                    msgErro="Campo obrigatório">
                </app-input-data>
            </div>
            <app-botao texto="Criar Novo Protocolo" [liberado]="form.valid" (eventoclick)="cadastrar()">
            </app-botao>

        </div>
    </div>

</form>