*{font-family: 'Allerta', sans-serif;}

form{
  width: 100%;
  display: flex;
  padding: 1% 1% 0% 16%;
}

.corpo{
  margin:0px;
  background-color: white;
}

.external-deco{
  width: 50%;
  background-color: #d6d6d6;
  border-style: solid;
  border-color: #606060;
  border-width: 1px;
  border-radius: 4px;
  margin-right: 2%;
  margin-bottom: 50px;
}

.external-deco-header{
  padding: 1% 2%;
  color: white;
}

.internal-deco{
  width: 94%;
  color: black;
  padding: 3%;
  padding-left: 8%;
}

.internal-deco p{
  text-align: justify;
}

.button-row{
  display: flex;
  margin-top: 10%;
}


#btn-atribuir{
  margin-top: 3%;
  margin-left: 73%;
}

.docente-row{
  display:flex;
}

.docente-deco{
  margin-left: 1%;
  //background-color:#3d8af7;
  width: 100%;
}

.docente-header{
  //background-color: #1b70e9;
  padding: 0% 0%;
  color: black;
}

.docente-internal{
  padding: 0% 1% 1% 1%;
}


.search-deco{
  width: 50%;
  background-color: #232323;
  border-style: solid;
  border-width: 0px 2px 2px 2px;
  border-color: #606060;
  margin-left: 30%;
  padding: 1%;
  border-radius: 0px 0px 4px 4px;
}

.input-deco {
  display: flex;
  margin-top: 10px;
  padding: 0%;
  border-style: solid;
  border-color: #606060;
  border-width: 2px;
}

.input-deco input{
  width: 100%;
  background-color: #444444;
  border:none;
  font-size: 15px;
  color: white;
  text-align: center;
}

.input-deco input:hover{
  background-color: #606060;
}

.icon-deco i {
  background-color : transparent;
  color: white;
  font-size: 150%;
  width: 100%;
  text-align: center;
}

.icon-deco{
  padding: 5px 0%;
  width: 10%;
  background-color: #3d8af7;
}

.estilo-cardheader{
  background-color: #286DA8;
}

.card-header label{
  color: white;
}

.card-header{
  padding: 1% 2%;
}


