<body class="corpo">

  <form>

    <div class="external-deco" style="height: auto;">
      <div class="external-deco-header bg-dark">
        <h2>Resumo do Projeto:</h2>
      </div>
      <div class="internal-deco">
        <ng-container *ngIf="exibirResumoPortugues()">
          <p>{{ detalheProtocolo?.resumoPt }}</p>
        </ng-container>
        <ng-container *ngIf="exibirResumoIngles()">
          <p>{{ detalheProtocolo?.resumoEn }}</p>
        </ng-container>
        <button class="btn btn-primary" (click)="alterarOpcaoResumo()">{{ getTextoBotaoResumo() }}</button>
      </div>
    </div>

    <div class="external-deco">
      <div class="external-deco-header bg-dark">
        <h2>Informações do Projeto:</h2>
      </div>
      <div class="internal-deco">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header bg-dark">
                <label>Docente Solicitante</label>
              </div>
              <div class="card-body">
                <label>Código:&nbsp;</label>
                <label>{{ detalheProtocolo?.matriculaDocente }}</label><br>
                <label>Nome:&nbsp;</label>
                <label>{{ detalheProtocolo?.nomeDoscente }}</label><br>
              </div>
            </div>
          </div>

        </div>

        <ng-container *ngIf="exibirAvaliador()">
          <div class="row mt-4">
            <div class="col-12">
              <div class="card">
                <div class="card-header bg-dark">
                  <label>Docente Avaliador</label>
                </div>
                <div class="card-body">
                  <label>Código:&nbsp;</label>
                  <label>{{ detalheProtocolo?.matriculaAvaliador }}</label><br>
                  <label>Nome:&nbsp;</label>
                  <label>{{ detalheProtocolo?.nomeAvaliador }}</label><br>
                </div>
              </div>
            </div>
          </div>
        </ng-container>

        <div class="row mt-4">
          <div class="col-12">
            <div class="card">
              <div class="card-header bg-dark">
                <label>Justificativa</label>
              </div>
              <div class="card-body">
                <p class="text-justify">{{ detalheProtocolo?.justificativa }}</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-12">
            <div class="card">
              <div class="card-header bg-dark">
                <label>Animais Selecionados</label>
              </div>
              <div class="card-body">
                <div class="row justify-content-center">
                  <div class="col-12">
                    <table class="table table-striped">
                      <thead class="thead-dark">
                        <tr>
                          <th style="width: 33%;">Espécie</th>
                          <th style="width: 33%;">Origem</th>
                          <th style="width: 33%;">Quantidade</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let pedido of detalheProtocolo?.pedidos" class="docente-internal">
                          <td>{{ pedido.especie }}</td>
                          <td>{{ pedido.bioterio }}</td>
                          <td>{{ pedido.quantidade }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <ng-container *ngIf="exibirParecer()">
          <div class="row mt-4">
            <div class="col-12">
              <div class="card">
                <div class="card-header bg-dark">
                  <label>Resultado da Avaliação</label>
                </div>
                <div class="card-body">
                  <h3>Parecer: </h3>
                  <p>{{ detalheProtocolo?.observacaoParecer}}</p>
                  <h3>Permitido: </h3>
                  <p>{{ getTextoPermitidoParecer() }}</p>
                </div>
              </div>
            </div>
          </div>
        </ng-container>

        <ng-container *ngIf="exibirCampoAvaliar()">
          <div class="row mt-4">
            <div class="col-12">
              <div class="card">
                <div class="card-header bg-dark">
                  <label>Avaliar Protocolo</label>
                </div>
                <div class="card-body">
                  <h3 class="h5">Observação:</h3>

                  <app-input-area-texto [formControl]="formObservacaoParecer.controls['descricao']"
                    placeholder="Digite uma observação" msgErro="Campo obrigatório">
                  </app-input-area-texto>

                  <div class="row">
                    <div class="col-6">
                      <app-botao iconeFa="" [liberado]="liberarBotoesAvaliar()" (click)=" avaliarProtocolo(true)"
                        texto="Deferir" id="btn" classeComplementar="btn-success"></app-botao>

                    </div>
                    <div class="col-6">
                      <app-botao iconeFa="" [liberado]="liberarBotoesAvaliar()" (click)=" avaliarProtocolo(false)"
                        texto="Indeferir" id="btn" classeComplementar="btn-danger"></app-botao>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>

        <ng-container *ngIf="exibirAdicionarParecerista()">
          <div [formGroup]="formAtribuirParecerista" style="margin-top: 10%;">
            <h3>Atribuir Parecerista:</h3>

            <app-input-auto-complete [formControl]="formAtribuirParecerista.controls['descricao']"
              placeholder="Digite o nome do parecerista" iconeFa="fa fa-search"
              [listaSugestoes]="listaSugestoesPareceristas" (mudarValor)="atualizarListaDeSugestaoPareceristas($event)"
              (valorSelecionado)="getPareceristaEscolhido($event)">
            </app-input-auto-complete>
          </div>

          <ng-container *ngIf="exibirDadosParecerista()">
            <div class="container">
              <div class="card">
                <div class="card-header bg-dark">
                  <label>Detalhes do avaliador</label>
                </div>
                <div class="card-body">
                  <label>Código: {{ pareceristaEscolhido.descricao }}</label><br>
                  <label>Nome: {{ pareceristaEscolhido.valor }}</label>
                </div>
              </div>
            </div>
          </ng-container>
          <app-botao iconeFa="" [liberado]="liberarBotaoAtribuirParecerista()" (click)="atribuirParecerista()"
            texto="Atribuir Parecerista" id="btn">Confirmar</app-botao>
        </ng-container>

      </div>
    </div>

  </form>
</body>