*{font-family: 'Allerta', sans-serif;}

body{
  margin: 0;
  display: flex;
  background-color:white;
}

.external-log-deco{
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 5%;
}

.log {
    background-color:#d6d6d6;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: #606060;
    padding-bottom: 2%;
    width: 33%;
    max-height: 60%;
  }
  
  .log-deco{
    background-color: #361c68;
    border-radius: 4px 4px 0px 0px;
    padding: 3%;
  }
  
  .log-header{
    color: white;
    width: 100%;
    text-align: center;
    font-weight: 500;
    font-size: 100%;
  }
  
  .form-deco{
    padding: 2% 5% 0% 5% ;
  }
  
  .form-deco label{
    color: black;
  }
  
  .request-deco{
    margin-top: 0%;
  }
  
  .request-deco p {
    width: 100%;
    text-align: center;
    color: #7a7a7a;
    font-size: 80%;
  }
  .request-deco a {
    font-size: 60%;
    color: #0844a4;
    font-weight: bold;
  } 

  .over-deco{
    background-color: #444444;
  }