<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>


<div class="external-log-deco">
    <div class='log'>
        <div class="log-deco">
            <h1 class="log-header">Log In</h1>
        </div>
        <div>
            <form class='form-deco' [formGroup]="form">
                <app-input 
                    [formControl]="form.controls['email']"
                    msgErro="Informe um e-mail válido."
                    placeholder="Email"
                    classeIcone="fa-envelope">
                </app-input>
                <app-input 
                    [isSenha]="true"
                    [formControl]="form.controls['senha']"
                    msgErro="Informe a senha."
                    placeholder="Senha"
                    classeIcone="fa-lock">
                </app-input>
                <div class="check-deco">
                    <input type="checkbox"> Remember me
                </div>
                <button (click)="logar()" [disabled]="!form.valid">Log In</button>
            </form>
            <div class="request-deco">
                <p>Não tem Conta ?</p>
                <p><a>Solicite Uma</a></p>
            </div>
        </div>
    </div>
</div>
