*{font-family: 'Allerta', sans-serif;}
  
  form{
    width: 80%;
    display: flex;
    padding: 1% 1% 0% 16%;
  }
  
  .corpo{
    margin:0px;
    background-color: #444444;
  }
  
  .navbar{
    position: fixed;
    width: 15%;
    height: 100%;
    background-color: #232323;
    margin: 0%;
    padding:0%;
    box-shadow: 3px 3px 7px;
  }
  
  .navbar div{
    display: flex;
    padding:5%;
    border: 0px ;
    border-right: 5px;
    border-style: solid;
    border-color: #c0c0c0;
    height: 40px;
    align-items: center;
    margin-bottom: 3px;
    background-color: #232323;
  }
  
  .navbar div i {
    width: 25%;
    font-size: 150%;
    text-align: left;
    color:#c0c0c0;
  }
  
  .navbar div a{
      flex-grow: 1;
      color:white;
      font-size: 100%;
      font-weight: 300;
      text-decoration: none;
  }
  
  .navbar div:hover{
    background-color: #303030;
  }
  
  .external-deco{
    width: 50%;
    background-color: #232323;
    border-style: solid;
    border-color: #606060;
    border-width: 2px;
    border-radius: 4px;
    box-shadow: 3px 3px 5px;
    margin-right: 2%;
  }

  .external-deco-header{
    background-color: black;
    padding: 0.5% 2%;
    color: white;
  }
  
  .internal-deco{
    width: 94%;
    color: white;
    padding: 3%;
  }

  .internal-deco p{
    text-align: justify;
  }
  
  .button-row{
    display: flex;
    margin-top: 10%;
  }

  .button{
    flex-grow: 1;
    background-color: #3d8af7;
    border: none;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    padding: 3% 5%;
  }

  .button:hover{
    background-color: #6334e3;
  }
  
  .button-reject{
    margin-left: 40%;
    margin-right: 1%;
    width: 30%;
    background-color: #f73d3d;
    border: none;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    padding: 3% 5%;
  }

  .button-reject:hover{
    background-color: #6334e3;
  }

  .docente-row{
    display:flex;
  }

  .docente-deco{
    margin-left: 1%;
    background-color:#3d8af7;
    width: 50%;
  }

  .docente-header{
    background-color: #1b70e9;
    padding: 0% 2%;
    color: white;
  }

  .docente-internal{
    padding: 0% 1% 1% 1%;
  }


  .search-deco{
    width: 50%;
    background-color: #232323;
    border-style: solid;
    border-width: 0px 2px 2px 2px;
    border-color: #606060;
    margin-left: 30%;
    padding: 1%;
    border-radius: 0px 0px 4px 4px;
  }

  .input-deco {
    display: flex;
    margin-top: 10px;
    padding: 0%;
    border-style: solid;
    border-color: #606060;
    border-width: 2px;
  }
  
  .input-deco input{
    width: 100%;
    background-color: #444444;
    border:none;
    font-size: 15px;
    color: white;
    text-align: center;
  }

  .input-deco input:hover{
    background-color: #606060;
  }
  
  .icon-deco i {
    background-color : transparent;
    color: white;
    font-size: 150%;
    width: 100%;
    text-align: center;
  }
  
  .icon-deco{
    padding: 5px 0%;
    width: 10%;
    background-color: #3d8af7;
  }
  