*{font-family: 'Allerta', sans-serif;}

body{
  margin: 0;
  display: flex;
  background-color:white;
}

.external-log-deco{
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 5%;
}

.log {
    background-color:#d6d6d6;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: #606060;
    padding-bottom: 2%;
    width: 33%;
    max-height: 60%;
  }
  
  .log-deco{
    background-color: #361c68;
    border-radius: 2px 2px 0px 0px;
    padding: 3%;
  }
  
  .log-header{
    color: white;
    width: 100%;
    text-align: center;
    font-weight: 500;
    font-size: 100%;
  }
  
  .form-deco{
    padding: 2% 5% 0% 5% ;
  }
  
  .form-deco label{
    color: black;
  }

  .input-deco {
    display: flex;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 0%;
    border-style: solid;
    border-color: #606060;
    border-width: 2px;
    background-color: white;
  }
  
  .input-deco:hover{
    background-color: #949494;
  }
  
  i {
    background-color : transparent;
    color: white;
    font-size: 150%;
    width: 100%;
    text-align: center;
  }
  
  .icon-deco{
    padding: 2% 0%;
    width: 15%;
    background-color: #3d8af7;
  }
  
  .text-deco{
    flex-grow: 1;
    background-color: transparent;
    border: none;
    color: black;
    font-size: 100%;
    font-weight: 100;
    text-align: center;
  }
  
  button {
    padding: 3%;
    margin-top: 5%;
    border-radius: 4px;
    width: 100%;
    font-size: 80%;
    background-color: #3d8af7;
    color: white;
    border: none;
    font-weight: bold;
  }
  
  button a{
    color: white;
    text-decoration: none;
  }

  button:hover{
    background-color: #6334e3;
  }
  
  .request-deco{
    margin-top: 0%;
  }
  
  .request-deco p {
    width: 100%;
    text-align: center;
    color: #7a7a7a;
    font-size: 80%;
  }
  .request-deco a {
    font-size: 60%;
    color: #0844a4;
    font-weight: bold;
  }  