<div class="search-deco" [formGroup]="formPesquisaProtocolo">
  <div class="input-deco">
    <app-selecao-item [formControl]="formPesquisaProtocolo.controls['tipo']" [listaOpcao]="listaOpcaoTipoConsulta"
      (alterarValor)="selecionarTipoConsulta($event)" placeholder="Selecione o tipo busca" classeIcone="fa fa-search">
    </app-selecao-item>

    <div>
      <ng-container *ngIf="exibirInputDePesquisa()">
        <app-input-texto [formControl]="formPesquisaProtocolo.controls['idProtocolo']"
          msgErro="Informe um número maior que 0." tipo="number" placeholder="Código do protocolo."
          classeIcone="fa-sort-numeric-desc">
        </app-input-texto>
      </ng-container>

      <ng-container *ngIf="exibirSelecaoDeStatus()">
        <app-selecao-item [formControl]="formPesquisaProtocolo.controls['idStatus']" [listaOpcao]="listaOpcaoStatus"
          classeIcone="fa-check-square-o" placeholder="Selecione Status">
        </app-selecao-item>
      </ng-container>
    </div>

    <app-selecao-item [formControl]="formPesquisaProtocolo.controls['categoria']" [listaOpcao]="listaOpcaoCategoria"
      placeholder="Selecione a catégoria." classeIcone="fa fa-search">
    </app-selecao-item>

    <div class="icon-deco ">
      <app-botao iconeFa="fa-search" [liberado]="formPesquisaProtocolo.valid" (click)="pesquisarProtocolo($event)"
        texto="Pesquisar">
      </app-botao>
    </div>
  </div>
</div>

<div class="external-deco">
  <app-paginacao [paginacao]="paginacao" (selecionarPagina)="selecionarPagina($event)">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Código</th>
          <th>Nome Docente</th>
          <th>Data Início</th>
          <th>Data Fim</th>
          <th>Status</th>
          <th>Detalhes</th>
        </tr>
      </thead>
      <tbody *ngIf="exibirListaProtocolo()">
        <tr *ngFor="let protocolo of paginacao.lista">
          <td style="width: 5%; text-align: center;"> {{ protocolo.id }} </td>
          <td> {{ protocolo.nomeDocente }} </td>
          <td style="width: 10%; text-align: center;"> {{ protocolo.dataInicio }} </td>
          <td style="width: 10%; text-align: center;"> {{ protocolo.dataFim }} </td>
          <td style="width: 5%; text-align: center;"> {{ protocolo.status }} </td>
          <td style="width: 5%; text-align: center;">
            <button class="btn" (click)="verDetalheProtocolo(protocolo.id)">
              <i class="fa fa-eye"></i>
            </button>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="!exibirListaProtocolo()">
        <tr>
          <td style="text-align: center;" colspan="10">Nenhum Protocolo encontrado!</td>
        </tr>
      </tbody>
    </table>
  </app-paginacao>
</div>